.slider {
  padding-bottom: 20px;

  &__card {
    margin-right:20px;
    width: 468px;
    height: 333px;
    padding: 50px;
  }

  &__text {
    margin-bottom: 32px;
    @include text-style ($base-font-famile, 16px, 26px, rgba( #fff, 0.8));
    }
}

.slide1 {
  background: url("../images/carousel/image1.png");
  @include backgroung;
}
.slide2 {
  background: url("../images/carousel/image2.png");
  @include backgroung;
}
.slide3 {
  background: url("../images/carousel/image3.png");
  @include backgroung;
}
.slide4 {
  background: url("../images/carousel/image4.png");
  @include backgroung;
}
  
.carousel-content {
  margin: 150px 0 30px 0;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

