.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(9px);
  padding: 28px 0;
  position: relative;
  top: 31px;

&__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
}

.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 0;
  &::before {
    content: "";
    @include line;
    top: 0;
  }
  &__list {
    display: flex;
    gap: 32px;
  }
  &__link {
  font-family: $base-font-famile;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #262A3F;
  }
}