.contact, .background, .footer__list, .background__content, .wallet__item, .cases, .products__cards, .wallet__item--border, .wallet__bg, .cases__video, .video, .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__cards {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about, .wallet__item--border, .wallet__bg, .cases__video, .video {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background__content, .wallet__item--border, .wallet__bg, .cases__video, .video {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wallet__item, .cases {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.slider {
  padding-bottom: 20px;
}
.slider__card {
  margin-right: 20px;
  width: 468px;
  height: 333px;
  padding: 50px;
}
.slider__text {
  margin-bottom: 32px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.8);
}

.slide1 {
  background: url("../images/carousel/image1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide2 {
  background: url("../images/carousel/image2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide3 {
  background: url("../images/carousel/image3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide4 {
  background: url("../images/carousel/image4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-content {
  margin: 150px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #262A3F;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(24.1%, rgba(255, 255, 255, 0.244636)), color-stop(47.19%, rgba(255, 255, 255, 0))), rgba(255, 255, 255, 0.02);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  padding: 28px 0;
  position: relative;
  top: 31px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 24px 0;
}
.footer::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
  position: absolute;
  top: 0;
}
.footer__list {
  gap: 32px;
}
.footer__link {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #262A3F;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.menu__link {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #262A3F;
}
.menu__link:hover {
  border-bottom: 2px solid rgba(38, 42, 63, 0.6);
}

.btn-menu {
  height: 42px;
  width: 42px;
  display: none;
  z-index: 2;
  position: relative;
}
.btn-menu__line {
  width: 32px;
  height: 2px;
  background-color: #262A3F;
  margin: 6px 0px;
  border-radius: 15px;
}
.btn-menu__line:nth-child(2) {
  width: 19px;
}
.btn-menu__line:nth-child(3) {
  width: 25px;
}
.btn-menu.is-active {
  position: fixed;
  top: 23px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.btn-menu.is-active .btn-menu__line {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn-menu.is-active .btn-menu__line:nth-child(1) {
  display: none;
}
.btn-menu.is-active .btn-menu__line:nth-child(2), .btn-menu.is-active .btn-menu__line:nth-child(3) {
  position: absolute;
  width: 30px;
}
.btn-menu.is-active .btn-menu__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
  left: 4px;
}
.btn-menu.is-active .btn-menu__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
  left: 4px;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #F1897B;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
}
.button::after {
  content: "";
  width: 90%;
  height: 13px;
  background-color: rgba(241, 137, 123, 0.3);
  top: 10px;
  right: -3px;
  position: absolute;
}
.button--mr {
  margin-top: 50px;
}

.img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.video {
  width: 812px;
  height: 502px;
  border-radius: 8px;
  margin: 10px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}

.input {
  width: 468px;
  height: 32px;
  border: none;
  border-bottom: 1px solid rgba(38, 42, 63, 0.1);
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: rgba(38, 42, 63, 0.7);
}
.input::-webkit-input-placeholder {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 8%;
  color: rgba(38, 42, 63, 0.5);
  font-style: italic;
}
.input::-moz-placeholder {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 8%;
  color: rgba(38, 42, 63, 0.5);
  font-style: italic;
}
.input:-ms-input-placeholder {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 8%;
  color: rgba(38, 42, 63, 0.5);
  font-style: italic;
}
.input::-ms-input-placeholder {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 8%;
  color: rgba(38, 42, 63, 0.5);
  font-style: italic;
}
.input::placeholder {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 8%;
  color: rgba(38, 42, 63, 0.5);
  font-style: italic;
}
.input:focus {
  outline: none;
}

.hero {
  background: url("../images/first-screen-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.hero__content {
  margin-top: 150px;
  max-width: 560px;
}

.about {
  margin-top: -64px;
}
.about__item--content {
  z-index: 1;
  max-width: 760px;
  left: 40%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
}
.about__item--img {
  position: relative;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 40px;
  padding-top: 42px;
}
.about__col {
  height: 560px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.about__col:nth-child(2) {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.card {
  padding: 0 60px;
  text-align: center;
  position: relative;
  margin-bottom: 90px;
}
.card:nth-child(1)::after, .card:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 82px;
  height: 1px;
  background-color: #85BBB1;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  margin: 49px 0;
}

.products {
  margin: 140px 0;
}
.products__cards {
  gap: 86px;
}
.products__item {
  width: 45%;
  border-top: 1px solid #E4E4E4;
}

.background {
  background: url("../images/quote-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.background__content {
  margin-left: 129px;
  gap: 40px;
  position: relative;
  -ms-flex-preferred-size: 760px;
      flex-basis: 760px;
}
.background__content::before {
  content: url(../images/quote-icon.svg);
  position: absolute;
  top: 60px;
  left: -60px;
}

.cases {
  margin: 121px 0;
}
.cases__video {
  width: 900px;
  height: 552px;
  border: 1px solid rgba(38, 42, 63, 0.8);
  border-radius: 32px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 55px;
}
.cases__video::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid rgba(38, 42, 63, 0.6);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  left: 8px;
}
.cases__video::after {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid rgba(38, 42, 63, 0.6);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  width: 32px;
  height: 32px;
  right: 14px;
}

.wallet {
  position: relative;
}
.wallet__bg {
  background: url(../images/features-background-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 560px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wallet__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wallet__content {
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 57px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 410px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 72px 18px 72px 64px;
}
.wallet__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.wallet__item--border {
  width: 250px;
  height: 92px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #E4E4E4;
}

.contact {
  margin: 250px 0 120px;
  gap: 174px;
  position: relative;
}
.contact::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
  position: absolute;
  top: -100px;
}
.contact__content {
  max-width: 500px;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: normal;
  color: #262A3F;
}
.title--green {
  color: #85bbb1;
  font-style: italic;
}

.sub-title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: normal;
  color: #262A3F;
}
.sub-title--mr {
  margin: 32px 0 24px;
}
.sub-title--mr-bottom {
  margin-bottom: 24px;
}

.title-large {
  margin-bottom: 12px;
  font-family: "Playfair Display", serif;
  font-size: 68px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: normal;
  color: #262A3F;
}
.title-large--grey {
  color: #E4E4E4;
  font-size: 40px;
}

.text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: normal;
  color: rgba(38, 42, 63, 0.8);
}
.text--mr {
  margin: 24px 0 50px;
}

.title-white {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #fff;
}

.text-white {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #fff;
  font-style: italic;
}

.title-small {
  margin-bottom: 14px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: normal;
  color: #262A3F;
}

.footer__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: normal;
  color: rgba(38, 42, 63, 0.6);
}

.bitcoin-text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.3);
}
.bitcoin-text--white {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1200px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__item--content {
    position: static;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__col {
    height: 100%;
  }
  .about__col:nth-child(2) {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }

  .card {
    padding: 0;
    margin-bottom: 50px;
  }

  .wallet__content {
    position: static;
    -webkit-transform: translate(0);
            transform: translate(0);
    padding: 40px 0 0 0;
  }
  .wallet__bg {
    width: 100%;
  }
  .wallet__item--border {
    max-width: 250px;
  }
}
@media screen and (max-width: 768px) {
  .lock-scroll {
    overflow: hidden;
  }

  .logo {
    z-index: 2;
  }

  .menu {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 120px 30px 0;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .menu__link {
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
  }
  .menu.is-open {
    opacity: 1;
    position: fixed;
    background: url("../images/first-screen-image.png") no-repeat center/cover;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }

  .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cases {
    margin: 0 0 50px 0;
  }
  .cases__video {
    -webkit-transform: scale(0.5) rotate(90deg) translate(0, 600px);
            transform: scale(0.5) rotate(90deg) translate(0, 600px);
  }

  .video {
    -webkit-transform: scale(0.5) rotate(-90deg);
            transform: scale(0.5) rotate(-90deg);
  }

  .wallet__item--border {
    max-width: 100%;
  }

  .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
  }

  .input {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .products {
    margin: 70px 0;
  }
  .products__item {
    width: 90%;
  }

  .title-white {
    font-size: 22px;
  }

  .slider__card {
    height: 430px;
  }

  .carousel-content {
    margin: 50px 0 30px 0;
  }
}
@media screen and (max-width: 576px) {
  .background__content {
    margin-left: 30px;
    gap: 20px;
  }
  .background__content::before {
    left: -20px;
  }
}
@media screen and (max-width: 376px) {
  .about {
    margin-top: 35px;
  }

  .title-white {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    background: url("../images/first-screen-image-2x.png") no-repeat center/cover;
  }

  .background {
    background: url("../images/quote-background-2x.png");
  }
}
@media screen and (min-width: 2560px) {
  .hero {
    background: url("../images/first-screen-image-3x.png") no-repeat center/cover;
  }

  .background {
    background: url("../images/quote-background-3x.png");
  }
}